
# Ignore slurm output files
slurm*.out

# Ignore swp files
*.swp

# Ignore images files (except in test directory)
*.png
*.pdf
!tests/data/*ruth/*/*.png
!tests/data/*ruth/*.png
!tests/data/*.png

# Ignore core dumps
core*

# Ignore .npy files
*.npy

# Ignore log files
*.log

# Ignore database files from Rocoto
*.db

# Pycache
modules/

# Ignore pickle files
*.pkl

# Jupyter notebook logs
.ipynb_checkpoints/

# Output text files
*.txt

# Output from test case
EnKF_diag.csv
tests/sample_data/mpas/mem001/mpasout.DA.2024-05-27_04.00.00.TEST.nc
tests/sample_data/mpas/mem002/mpasout.DA.2024-05-27_04.00.00.TEST.nc
tests/sample_data/mpas/mem003/mpasout.DA.2024-05-27_04.00.00.TEST.nc

# pycache
__pycache__/
